SAGRHA.API/bin/Debug/netcoreapp2.2/SAGRHA.API.pdb
SAGRHA.API/obj/Debug/netcoreapp2.2/SAGRHA.API.csproj.CoreCompileInputs.cache
SAGRHA.API/obj/Debug/netcoreapp2.2/SAGRHA.API.assets.cache
SAGRHA.API/obj/Debug/netcoreapp2.2/SAGRHA.API.csprojAssemblyReference.cache
